# Docker specific
#   Having the postgres.env variables in this file causes containser startup to fail.
#   see https://hub.docker.com/_/postgres/
POSTGRES_DB=<db name>
POSTGRES_USER=<db username>
POSTGRES_PASSWORD=<db password>
