HOST_IP=

# https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-configure-environment-variables?view=sql-server-linux-2017
MSSQL_SA_PASSWORD=
MSSSQL_PID=
MSSQL_TCP_PORT=11433
MSSQL_IP_ADDRESS="${HOST_IP}"

# https://www.postgresql.org/docs/9.6/static/libpq-envars.html
PGHOST="${HOST_IP}"
PGPORT=5434
PGUSER=
PGPASSWORD=

